<div class="bg-background rounded-xl border p-8">
  <p class="text-secondary text-lg leading-8 font-bold">Métricas Principais</p>
  <div
    class="*:even:text-primary mt-7 grid grid-cols-2 items-center gap-y-4 *:odd:text-sm *:even:text-right *:even:text-lg *:even:font-bold"
  >
    <p>Tempo de Entrega</p><p>2-24 horas</p>
    <p>Coberturas</p><p>18 provincias</p>
    <p>Taxa de sucesso</p><p>99,8%</p>
  </div>
</div>
