---
import ServiceItemDetails from "./service-item-details.astro";
import ServiceKeyMetrics from "./service-key-metrics.astro";

const fakeData = Array.from({ length: 4 });
type Props = {
  services: {
    title: string;
    description: string;
    bulletPoints?: string[];
    iconUrl?: string;
    keyMetrics?: { title: string; description: string }[];
  }[];
};

const { services } = Astro.props;
---

<section class="container space-y-28 py-20">
  {
    services.map(
      ({ description, title, bulletPoints, iconUrl, keyMetrics }) => (
        <div class="grid items-center gap-12 lg:grid-cols-2 even:*:first:lg:order-2 even:*:last:lg:order-1">
          <ServiceItemDetails
            title={title}
            description={description}
            bulletPoints={bulletPoints ?? []}
            iconUrl={iconUrl}
          />
          {keyMetrics && keyMetrics.length > 0 && (
            <ServiceKeyMetrics metrics={keyMetrics} />
          )}
        </div>
      )
    )
  }
</section>
