---
import PageHero from "@/components/common/page-hero.astro";
import MissionAndVisionSection from "@/components/sections/about/mission-and-vision-section.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout>
  <main>
    <PageHero
      title="Sobre a FARWELL"
      subtitle="Uma empresa líder na distribuição farmacêutica, comprometida com a excelência, a qualidade e a saúde das comunidades angolanas."
    />
    <MissionAndVisionSection />
  </main>
</MainLayout>
