---
import { getPageDataWithLayoutData } from "@/api";
import type { GetContactPageDataResponse } from "@/api/type";
import ContactSection from "@/components/common/contact-section.astro";
import PageHero from "@/components/common/page-hero.astro";
import MainLayout from "@/layouts/main-layout.astro";

const [contactData, headerData, footerData] =
  await getPageDataWithLayoutData<GetContactPageDataResponse>("contact");
const { areaClient, catalogFile } = headerData;
const { services, description, contact } = footerData;
const { contacts, header } = contactData;
---

<MainLayout
  extendedTitle="Contacte-nos"
  footer={{
    services: services.map(({ title }) => title),
    description,
    contacts:
      contact.map(({ fields: { value, icon } }) => ({ value, icon })) ?? [],
  }}
  headerLinks={{ catalog: catalogFile, clientArea: areaClient }}
>
  <main>
    <PageHero title={header.title} subtitle={header.description} />
    {
      contacts && (
        <ContactSection
          contactUs={contacts.map(({ fields }) => ({
            fields,
            title: "",
          }))}
        />
      )
    }
  </main>
</MainLayout>
