---
import ContactSection from "@/components/common/contact-section.astro";
import PageHero from "@/components/common/page-hero.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout>
  <main>
    <PageHero
      title="Contacte-nos"
      subtitle="Entre em contacto com a nossa equipa para todas as suas necessidades de distribuição farmacêutica."
    />
    <ContactSection />
  </main>
</MainLayout>
