---
import { getPageDataWithLayoutData } from "@/api";
import type { GetHomePageDataResponse } from "@/api/type";
import PageHero from "@/components/common/page-hero.astro";
import MainSection from "@/components/sections/diagnostics/main-section.astro";
import MainLayout from "@/layouts/main-layout.astro";

const [_, headerData, footerData] =
  await getPageDataWithLayoutData<GetHomePageDataResponse>("home");
const { areaClient, catalogFile } = headerData;
const { services, description } = footerData;
---

<MainLayout
  extendedTitle="Diagnosticos"
  footer={{
    services: services.map(({ title }) => title),
    description,
    // contacts: contact.map(({ fields: { value } }) => value) ?? [],
  }}
  headerLinks={{ catalog: catalogFile, clientArea: areaClient }}
>
  <main>
    <PageHero
      title="Diagnosticos"
      subtitle="Venda e fornecimento de reagentes de diagnóstico in vitro, equipamentos e todos os consumíveis necessários para laboratórios de análises clínicas."
    />
    <MainSection />
    <section class="bg-grey-950/30">
      <div class="container mx-auto max-w-4xl space-y-6 py-20 text-center">
        <h2 class="text-secondary text-4xl leading-10">Os Nossos Clientes</h2>
        <hr class="text-primary mx-auto h-1 w-24" />
        <p class="text-primary text-2xl leading-8">
          » Uma referência no mercado de laboratórios clínicos
        </p>
        <p class="text-lg leading-7">
          O nosso foco crescente nesta área e a contínua especialização
          resultaram na aquisição de clientes de prestígio, aos quais a Farwell
          fornece regularmente.
        </p>
        <p class="text-lg leading-7">
          O nosso portefólio de clientes inclui laboratórios privados, bem como
          entidades públicas.
        </p>
      </div>
    </section>
  </main>
</MainLayout>
