---
import PageHero from "@/components/common/page-hero.astro";
import CoverageSection from "@/components/sections/distribution/coverage-section.astro";
import DistributionServicesSection from "@/components/sections/distribution/distribution-services-section.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout>
  <main>
    <PageHero
      title="Distribuição Farmacêutica"
      subtitle="Serviços de distribuição profissional, garantindo a entrega segura, pontual e em conformidade de produtos farmacêuticos em toda Angola. Mais de 20 anos de experiência de confiança na área da distribuição."
    />
    <DistributionServicesSection />
    <CoverageSection />
  </main>
</MainLayout>
