---
import { getPageData } from "@/api";
import type {
  GetCommonPageDataResponse,
  GetFooterPageDataResponse,
  GetHomePageDataResponse,
} from "@/api/type";
import ContactSection from "@/components/common/contact-section.astro";
import AboutSection from "@/components/sections/home/about-section.astro";
import HomeHero from "@/components/sections/home/home-hero.astro";
import ServicesSection from "@/components/sections/home/services-section.astro";
import MainLayout from "@/layouts/main-layout.astro";

const [homePageData, headerData, footerData] = await Promise.all([
  getPageData<GetHomePageDataResponse>("home"),
  getPageData<GetCommonPageDataResponse>("common"),
  getPageData<GetFooterPageDataResponse>("footer"),
]);
const { aboutUs, contactUs, hero, ourServices } = homePageData;
const { areaClient, catalogFile } = headerData;
const { services, description } = footerData;
---

<MainLayout
  footer={{
    services: services.map(({ title }) => title),
    description,
    // contacts: contact.map(({ fields: { value } }) => value) ?? [],
  }}
  headerLinks={{ catalog: catalogFile, clientArea: areaClient }}
>
  <main>
    {hero && <HomeHero {...hero} />}
    {aboutUs && <AboutSection {...aboutUs} />}
    {ourServices && <ServicesSection {...ourServices} />}
    {contactUs && <ContactSection {...contactUs} isHomePage />}
  </main>
</MainLayout>
