---
import ContactSection from "@/components/common/contact-section.astro";
import AboutSection from "@/components/sections/home/about-section.astro";
import HomeHero from "@/components/sections/home/home-hero.astro";
import ServicesSection from "@/components/sections/home/services-section.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout>
  <main>
    <HomeHero />
    <AboutSection />
    <ServicesSection />
    <ContactSection isHomePage />
  </main>
</MainLayout>
