---
import { getPageData } from "@/api";
import type { GetProductPageDataResponse } from "@/api/type";
import PageHero from "@/components/common/page-hero.astro";
import ProductsSection from "@/components/sections/products/products-section.astro";
import QualityAssuranceSection from "@/components/sections/products/quality-assurance-section.astro";
import MainLayout from "@/layouts/main-layout.astro";

const { header, qualityAssurance } =
  await getPageData<GetProductPageDataResponse>("products");
---

<MainLayout extendedTitle="Os Nossos Produtos">
  <main>
    <PageHero title={header.title} subtitle={header.description} />
    <!-- TODO: Missing data for the API -->
    <ProductsSection />
    {qualityAssurance && <QualityAssuranceSection {...qualityAssurance} />}
  </main>
</MainLayout>
