---
import { getPageDataWithLayoutData } from "@/api";
import type { GetProductPageDataResponse } from "@/api/type";
import PageHero from "@/components/common/page-hero.astro";
import ProductsSection from "@/components/sections/products/products-section.astro";
import QualityAssuranceSection from "@/components/sections/products/quality-assurance-section.astro";
import MainLayout from "@/layouts/main-layout.astro";

const [productsPageData, headerData, footerData] =
  await getPageDataWithLayoutData<GetProductPageDataResponse>("products");
const { areaClient, catalogFile } = headerData;
const { services, description } = footerData;
const { header, qualityAssurance } = productsPageData;
---

<MainLayout
  extendedTitle="Os Nossos Produtos"
  footer={{
    services: services.map(({ title }) => title),
    description,
    // contacts: contact.map(({ fields: { value } }) => value) ?? [],
  }}
  headerLinks={{ catalog: catalogFile, clientArea: areaClient }}
>
  <main>
    <PageHero title={header.title} subtitle={header.description} />
    <!-- TODO: Missing data for the API -->
    <ProductsSection />
    {
      qualityAssurance && (
        <QualityAssuranceSection
          title={qualityAssurance.title}
          description={qualityAssurance.description}
          keyPoints={qualityAssurance.keyPoints.map(({ icon, ...rest }) => ({
            iconUrl: icon,
            ...rest,
          }))}
        />
      )
    }
  </main>
</MainLayout>
