---
import PageHero from "@/components/common/page-hero.astro";
import ProductsSection from "@/components/sections/products/products-section.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout>
  <main>
    <PageHero
      title="Os Nossos Produtos"
      subtitle="Soluções farmacêuticas e médicas completas para o setor da saúde em Angola. Mais de 20 anos de distribuição de confiança e serviço de qualidade."
    />
    <ProductsSection />
  </main>
</MainLayout>
