---
import CardItemWithBulletPoints from "@/components/common/card-item-with-bullet-points.astro";
import SectionHeader from "@/components/common/section-header.astro";

type Props = {
  products: {
    title: string;
    icon: string;
    description: string;
    bulletPoints: string[];
  }[];
};

const { products } = Astro.props;
---

<section class="container space-y-16 py-20">
  <!-- TODO: Missing data for the API -->
  <SectionHeader
    title="Os Nossos Serviços de Distribuição"
    description="Soluções completas de distribuição farmacêutica, concebidas para cumprir os mais elevados padrões de qualidade, segurança e conformidade regulamentar."
  />
  <ul class="grid gap-8 md:grid-cols-2">
    {
      products.map(({ title, icon, description, bulletPoints }) => (
        <CardItemWithBulletPoints
          title={title}
          description={description}
          bulletPoints={bulletPoints}
          iconUrl={icon}
        />
      ))
    }
  </ul>
</section>
