---
import ProsedContent from "@/components/common/prosed-content.astro";

type Props = Partial<{
  mission: string;
  vision: string;
  values: string;
}>;

// TODO: Use these props
const { mission, vision, values } = Astro.props;
---

<section
  id="mission"
  class="container grid items-start gap-12 py-20 lg:grid-cols-3"
>
  {
    mission && (
      <div>
        <h2 class="text-secondary mb-6 text-2xl leading-9 font-bold">
          A Nossa Missão
        </h2>

        <ProsedContent className="text-base" content={mission} />
      </div>
    )
  }
  {
    vision && (
      <div class="bg-grey-950/30 rounded-xl p-8">
        <h2 class="text-secondary mb-6 text-2xl leading-9 font-bold">
          A Nossa Visão
        </h2>
        <ProsedContent className="text-base" content={vision} />
      </div>
    )
  }
  {
    values && (
      <div class="bg-grey-950/30 rounded-xl p-8">
        <h2 class="text-secondary mb-6 text-2xl leading-9 font-bold">
          A Nossa Proposta de Valor
        </h2>
        <ProsedContent
          content={values}
          className="text-base prose-ul:list-disc prose-ul:space-y-3 marker:text-primary"
        />
      </div>
    )
  }
</section>
