---

---

<section class="container grid items-center gap-12 py-20 lg:grid-cols-2">
  <div>
    <h2 class="text-secondary mb-6 text-2xl leading-9 font-bold">
      A Nossa Missão
    </h2>
    <p class="leading-6">
      A FARWELL está empenhada em melhorar o acesso aos cuidados de saúde em
      toda Angola, através de uma distribuição farmacêutica fiável. Ligamos
      fornecedores internacionais a prestadores de cuidados de saúde locais,
      garantindo que medicamentos e materiais médicos de qualidade cheguem a
      todos os cantos do nosso país.
    </p>
    <br />
    <p class="leading-6">
      O nosso compromisso vai além da distribuição — somos parceiros na área da
      saúde, apoiando os profissionais médicos com os recursos de que necessitam
      para oferecer um atendimento de excelência aos pacientes.
    </p>
  </div>
  <div class="bg-grey-950/30 rounded-xl p-8">
    <h2 class="text-secondary mb-6 text-2xl leading-9 font-bold">
      A Nossa Visão
    </h2>
    <p class="leading-6">
      Ser o parceiro de distribuição farmacêutica mais confiável de Angola,
      reconhecido pelo nosso compromisso inabalável com a qualidade, fiabilidade
      e excelência nos cuidados de saúde.
    </p>
  </div>
</section>
