---
import SectionHeader from "@/components/common/section-header.astro";
import { ShieldCheckIcon } from "lucide-react";
import QualityStandardItem from "./quality-standard-item.astro";
---

<section class="container space-y-6 py-20">
  <SectionHeader
    title="Normas de Qualidade & Conformidade"
    description="Mantemos os mais altos padrões na distribuição farmacêutica, garantindo a integridade dos produtos desde o armazém até ao destino final."
  />
  <ul class="grid gap-8 lg:grid-cols-3">
    <QualityStandardItem
      title="Certificação GMP"
      description="Conformidade com as Boas Práticas de Fabricação"
    >
      <ShieldCheckIcon className="text-primary" size={32} slot="icon" />
    </QualityStandardItem>
    <QualityStandardItem
      title="Certificação GMP"
      description="Conformidade com as Boas Práticas de Fabricação"
    >
      <ShieldCheckIcon className="text-primary" size={32} slot="icon" />
    </QualityStandardItem>
    <QualityStandardItem
      title="Certificação GMP"
      description="Conformidade com as Boas Práticas de Fabricação"
    >
      <ShieldCheckIcon className="text-primary" size={32} slot="icon" />
    </QualityStandardItem>
  </ul>
</section>
