---
import Contacts from "@/components/common/contacts.astro";
import SectionHeader from "@/components/common/section-header.astro";
import ContactForm from "@/components/interactive/forms/contact-form";

type Props = {
  isHomePage?: boolean;
};

const { isHomePage = false } = Astro.props;
---

<section class="bg-grey-950/30">
  <div class="container space-y-16 py-20">
    {
      isHomePage && (
        <SectionHeader
          title="Contacte-nos"
          description="Entre em contato com nossa equipe para atender a todas as suas necessidades de distribuição farmacêutica."
        />
      )
    }
    <div class="grid gap-4 lg:grid-cols-2">
      <ContactForm client:visible />
      <Contacts />
    </div>
  </div>
</section>
