---
type Props = {
  title: string;
  content: string;
};

const { title, content } = Astro.props;
---

<li class="flex items-start gap-4 rounded-xl border p-6 shadow-xs">
  <slot name="icon" />
  <div class="flex-1 space-y-1">
    <h3 class="text-secondary font-bold">{title}</h3>
    <p class="text-sm">{content}</p>
  </div>
</li>
