---
import { Image } from "astro:assets";

type Props = {
  title: string;
  content: string;
  iconUrl?: string;
};

const { title, content, iconUrl } = Astro.props;
---

<li class="flex items-start gap-4 rounded-xl border p-6 shadow-xs">
  {iconUrl && <Image src={iconUrl} alt={title} width={24} height={24} />}
  <div class="flex-1 space-y-1">
    <h3 class="text-secondary font-bold">{title}</h3>
    <p class="text-sm">{content}</p>
  </div>
</li>
