---
import { footerLogoImage } from "@/assets";
import { Heart } from "lucide-react";

type Props = {
  description?: string;
  services: string[];
};

const year = new Date().getFullYear();
const { description, services } = Astro.props;
---

<footer class="bg-secondary text-secondary-foreground py-12">
  <div class="container mb-8 grid grid-cols-1 gap-8 md:grid-cols-3">
    <div class="space-y-4">
      <img
        class="max-w-3xs"
        src={footerLogoImage.src}
        alt="Farwell"
        loading="lazy"
      />
      <p class="text-sm">
        {description}
      </p>
    </div>
    {
      services && services.length > 0 && (
        <div>
          <p class="text-background mb-4 font-bold">Serviços</p>
          <ul class="space-y-2 text-sm">
            <li>Produtos farmacêuticos</li>
            <li>Equipamento hospitalar</li>
            <li>Equipamentos médicos</li>
            <li>Produtos Laboratoriais</li>
          </ul>
        </div>
      )
    }
    <div>
      <p class="text-background mb-4 font-bold">Contactos</p>
      <ul class="space-y-2 text-sm">
        <li>Luanda, Angola</li>
        <li>
          <a class="hover:underline" href="tel:+244 XXX XXX XXX">
            + 244 XXX XXX
          </a>
        </li>
        <li>
          <a class="hover:underline" href="mailto:info@farwell.co.ao">
            info@farwell.co.ao
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="border-background/20 text-background/60 container flex items-center justify-center gap-1 border-t pt-8 text-center text-sm"
  >
    <p class="max-md:flex-1">© {year} FARWELL. Feito com</p>
    <Heart size={16} className="text-primary" />
    <p class="max-md:flex-1">para a saúde em Angola.</p>
  </div>
</footer>
