---
import { HeaderLogoSVG } from "@/assets";
import { BookIcon, UserIcon } from "lucide-react";
import MobileNavMenu from "../interactive/mobile-nav-menu";
import ButtonLink from "./button-link.astro";
import NavLinks from "./nav-links.astro";

type Props = {
  catalogUrl?: string;
  clientAreaUrl?: string;
};

const { catalogUrl, clientAreaUrl } = Astro.props;
---

<header
  class="bg-background fixed top-0 right-0 left-0 z-20 border-b shadow-sm"
>
  <div class="container flex items-center justify-between py-4">
    <a href="/">
      <HeaderLogoSVG height={50} />
    </a>
    <nav class="hidden lg:block">
      <ul
        class="*:hover:text-primary/70 text-secondary flex gap-8 text-sm leading-6"
      >
        <NavLinks />
      </ul>
    </nav>
    <div>
      <div class="flex items-center gap-6 text-sm max-lg:hidden">
        {
          catalogUrl && (
            <ButtonLink title="Ver Catálogo" download href={catalogUrl}>
              <BookIcon />
              <span class="max-xl:hidden">Ver Catálogo</span>
            </ButtonLink>
          )
        }
        {
          clientAreaUrl && (
            <ButtonLink
              title="Área de Clientes"
              target="_blank"
              href={clientAreaUrl}
            >
              <UserIcon />
              <span class="max-xl:hidden">Área de Clientes</span>
            </ButtonLink>
          )
        }
      </div>
      <MobileNavMenu client:visible>
        <NavLinks />
      </MobileNavMenu>
    </div>
  </div>
</header>
