---
const { pathname } = Astro.url;
const links = {
  "/": "Home",
  "/about": "Sobre nós",
};
---

{
  Object.entries(links).map(([key, value]) => (
    <li class={pathname === key ? "text-primary" : ""}>
      <a href={key}>{value}</a>
    </li>
  ))
}
