---
const { pathname } = Astro.url;
const links = {
  "/": "Página Inicial",
  "/distribution": "Distribuição",
  "/about": "Sobre nós",
  "/contact": "Contactos",
};
---

{
  Object.entries(links).map(([key, value]) => (
    <li class={pathname === key ? "text-primary" : ""}>
      <a href={key}>{value}</a>
    </li>
  ))
}
