---
type Props = {
  title: string;
  subtitle: string;
};

const { title, subtitle } = Astro.props;
---

<section class="hero-gradient">
  <div class="mx-auto max-w-3xl space-y-6 px-4 pt-20 pb-36 text-center">
    <h1 class="text-secondary text-4xl font-bold">{title}</h1>
    <p class="text-lg">
      {subtitle}
    </p>
  </div>
</section>
