---
import { ChevronUpIcon } from "lucide-react";
import { Button } from "../ui/button";
---

<Button
  id="scroll-to-top-button"
  aria-label="Navegar para o topo da página"
  title="Navegar para o topo da página"
  className="fixed right-4 bottom-4 size-12 rounded-full p-0 opacity-0 shadow duration-300 lg:hidden"
>
  <ChevronUpIcon />
</Button>

<script>
  const BUTTON_VISIBILITY_THRESHOLD = 1000;
  const button = document.getElementById("scroll-to-top-button");

  button?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });

  window.addEventListener("scroll", () => {
    if (!button) return;
    if (window.pageYOffset > BUTTON_VISIBILITY_THRESHOLD) {
      button.classList.add("opacity-100");
      button.classList.remove("opacity-0");
    } else {
      button.classList.remove("opacity-100");
      button.classList.add("opacity-0");
    }
  });
</script>
