---
import Contacts from "@/components/common/contacts.astro";
import SectionHeader from "@/components/common/section-header.astro";
---

<section class="bg-grey-950/30">
  <div class="container space-y-16 py-20">
    <SectionHeader
      title="Contacte-nos"
      description="Entre em contato com nossa equipe para atender a todas as suas necessidades de distribuição farmacêutica."
    />
    <div class="grid gap-4 md:grid-cols-2">
      <Contacts />
    </div>
  </div>
</section>
