---
import { Button } from "@/components/ui/button";
import { AwardIcon, ShieldIcon, UsersIcon } from "lucide-react";
---

<section class="hero-gradient">
  <div class="container grid items-center gap-12 py-20 lg:grid-cols-2">
    <div class="space-y-6">
      <h1 class="text-secondary text-3xl font-bold">
        Seu Parceiro de Confiança em<br /><span class="text-primary"
          >Distribuição de Produtos Farmacêuticos</span
        >
      </h1>
      <p class="text-lg">
        Operando sob a lei angolana por mais de 20 anos, a FARWELL está dedicada
        à importação e distribuição de produtos farmacêuticos e hospitalares,
        fornecendo serviço de qualidade através de investimentos contínuos em
        nossas instalações e recursos.
      </p>
      <div class="flex flex-col gap-4 md:flex-row">
        <Button>Nossos produtos</Button>
        <Button className="bg-background text-secondary hover:bg-background/90"
          >Saber mais</Button
        >
      </div>
      <ul class="flex items-center justify-between pt-6 text-center text-xs">
        <li class="flex flex-col items-center space-y-2">
          <ShieldIcon size={32} className="text-primary" />
          <p>Qualidade Garantida</p>
        </li>
        <li class="flex flex-col items-center space-y-2">
          <AwardIcon size={32} className="text-primary" />
          <p>+20 Anos</p>
        </li>
        <li class="flex flex-col items-center space-y-2">
          <UsersIcon size={32} className="text-primary" />
          <p>Serviço de Confiança</p>
        </li>
      </ul>
    </div>
    <div class="bg-background rounded-2xl border p-8 shadow-xl">
      <div
        class="hero-gradient flex h-64 flex-col items-center justify-center rounded-xl px-5 text-center"
      >
        <ShieldIcon size={64} className="text-primary" />
        <p class="text-secondary mt-4 mb-2 text-lg font-bold">
          Excelência em Saúde
        </p>
        <p class="text-sm">Produtos Farmacêuticos e Hospitalares</p>
      </div>
    </div>
  </div>
</section>
