---
import { Image } from "astro:assets";

type Props = {
  title: string;
  description: string;
  iconUrl?: string;
};

const { title, description, iconUrl } = Astro.props;
---

<li class="space-y-6 rounded-xl border p-6 shadow-xs">
  <div class="flex items-center gap-4">
    {
      iconUrl && (
        <div class="bg-primary/10 flex size-12 items-center justify-center rounded-xl">
          <Image src={iconUrl} alt={title} width={24} height={24} />
        </div>
      )
    }
    <h3 class="text-secondary mt-4 mb-3 text-lg leading-6 font-bold">
      {title}
    </h3>
  </div>
  <p class="text-sm">{description}</p>
</li>
