---
import FacilityFeatureItem from "./facility-feature-item.astro";
---

<section class="container my-10 lg:py-16">
  <ul class="grid grid-cols-1 gap-6 lg:grid-cols-3">
    {Array.from({ length: 5 }).map(() => <FacilityFeatureItem />)}
  </ul>
</section>
