---
import Footer from "@/components/common/footer.astro";
import Header from "@/components/common/header.astro";
import ScrollToTopButton from "@/components/common/scroll-to-top-button.astro";
import "@/styles/global.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/700.css";

type Props = {
  extendedTitle?: string;
  headerLinks?: {
    catalog?: string;
    clientArea?: string;
  };
  footer?: {
    description?: string;
    services?: string[];
    contacts?: {
      icon: string;
      value: string;
    }[];
  };
};

const {
  extendedTitle = "Estamos aqui para fazer melhor",
  headerLinks,
  footer,
} = Astro.props;
---

<!doctype html>
<html lang="pt-AO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Start Favicon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <!-- End Favicon -->
    <title>Farwell - {extendedTitle}</title>
  </head>
  <body>
    <Header
      catalogUrl={headerLinks?.catalog}
      clientAreaUrl={headerLinks?.clientArea}
    />
    <slot />
    <Footer
      contacts={footer?.contacts ?? []}
      description={footer?.description}
      services={footer?.services ?? []}
    />
    <ScrollToTopButton />
  </body>
</html>
