---
import "@/styles/global.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/700.css";
---

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Farwell</title>
  </head>
  <body>
    <slot />
  </body>
</html>
