---
import { Linkedin, MailIcon } from "lucide-react";
---

<li
  class="flex flex-col items-center gap-6 rounded-xl border p-6 text-center shadow-xs"
>
  <div>
    <div class="bg-grey-950 mx-auto mb-1.5 size-20 rounded-full"></div>
    <p class="text-secondary text-xl leading-6 font-bold">Ana Santos</p>
    <p class="text-sm leading-5">Analista de Qualidade</p>
  </div>
  <div class="flex items-center justify-center gap-4">
    <a href="mailto:#" title="Email" aria-label="Email">
      <MailIcon />
    </a>
    <a
      href="https://linkedin.com"
      target="_blank"
      title="Linkedin Profile"
      aria-label="Linkedin Profile"
    >
      <Linkedin />
    </a>
  </div>
</li>
